.main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.main-main {
  width: 100%;
  height: 2946px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(6, 6, 6, 1);
}
.main-menu {
  top: 1698px;
  left: 200px;
  width: 1200px;
  height: 927px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-frame10 {
  top: 18px;
  left: 0px;
  width: 1200px;
  height: 909px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text {
  top: 846px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-line1 {
  top: 909px;
  left: 0px;
  width: 1200px;
  height: 1px;
  position: absolute;
}
.main-frame9 {
  top: 113px;
  left: 0px;
  width: 1200px;
  height: 718px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text02 {
  top: 655px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame8 {
  top: 208px;
  left: 0px;
  width: 1200px;
  height: 527px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text04 {
  top: 464px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame7 {
  top: 303px;
  left: 0px;
  width: 1200px;
  height: 336px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text06 {
  top: 273px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame6 {
  top: 398px;
  left: 0px;
  width: 1200px;
  height: 145px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text08 {
  top: 82px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame5 {
  top: 384px;
  left: 0px;
  width: 1200px;
  height: 139px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text10 {
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame4 {
  top: 288px;
  left: 0px;
  width: 1200px;
  height: 327px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text12 {
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame3 {
  top: 192px;
  left: 0px;
  width: 1200px;
  height: 521px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text14 {
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame2 {
  top: 63px;
  left: 0px;
  width: 1200px;
  height: 745px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text16 {
  top: 33px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-frame1 {
  top: 0px;
  left: 81px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-frame11 {
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 903px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text18 {
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-group {
  top: 106px;
  left: 842px;
  width: 32.50004577636719px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector01 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group01 {
  top: 205px;
  left: 842px;
  width: 32.50004577636719px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector02 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector03 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group02 {
  top: 299px;
  left: 843px;
  width: 32.50004577636719px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector04 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector05 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group03 {
  top: 394px;
  left: 843px;
  width: 32.50004577636719px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector06 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector07 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group04 {
  top: 492px;
  left: 842px;
  width: 32.50004577636719px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector08 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector09 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group05 {
  top: 589px;
  left: 843px;
  width: 32.50004577636719px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector10 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector11 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group06 {
  top: 685px;
  left: 843px;
  width: 32.50004577636719px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector12 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector13 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group07 {
  left: 841px;
  width: 32.50004577636719px;
  bottom: 94px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector14 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector15 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group08 {
  left: 842px;
  width: 32.50004577636719px;
  bottom: 1px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector16 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector17 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-group09 {
  top: 0px;
  right: 325px;
  width: 32.50004577636719px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-vector18 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 30px;
  position: absolute;
}
.main-vector19 {
  top: 13px;
  left: -15px;
  width: 30px;
  height: 3px;
  position: absolute;
}
.main-texth1 {
  top: 1465px;
  left: 200px;
  width: 808px;
  height: 133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-text20 {
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 100px;
  font-style: Medium;
  text-align: left;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-text21 {
  font-weight: 500;
}
.main-text22 {
  font-size: 110px;
  font-style: italic;
  font-family: "Times New Roman";
  font-weight: 400;
}
.main-text24 {
  top: 1250px;
  color: rgb(255, 255, 255);
  right: 300px;
  width: 1000px;
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 55px;
  font-stretch: normal;
  text-decoration: none;
}
.main-mainpagebackground {
  top: -175px;
  left: 0px;
  width: 1614px;
  height: 1400px;
  position: absolute;
}
.main-heading {
  top: 238px;
  left: 200px;
  width: 708px;
  height: 423px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-button {
  top: 357px;
  left: 0px;
  width: 203px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 25px;
}
.main-text25 {
  top: 16px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-text27 {
  top: 102px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 100px;
  font-style: Medium;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-text28 {
  top: 224px;
  color: rgb(255, 255, 255);
  height: auto;
  opacity: 0.70;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-text29 {
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 100px;
  font-style: Medium;
  text-align: left;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-text30 {
  font-weight: 500;
}
.main-text31 {
  font-weight: 400;
}
.main-text32 {
  font-size: 110px;
  font-style: italic;
  font-family: "Times New Roman";
  font-weight: 400;
}
.main-text33 {
  font-weight: 400;
}
.main-text34 {
  font-weight: 500;
}
.main-text35 {
  color: rgba(255, 255, 255, 1);
  right: 206px;
  bottom: 64px;
  height: auto;
  opacity: 0.50;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat Alternates;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
